# ----------------------------------------------------------------------
# Node.js dependencies
# ----------------------------------------------------------------------
**/node_modules/
npm-debug.log
yarn-error.log
 

# ----------------------------------------------------------------------
# Build outputs (Vite frontend & TypeScript backend)
# ----------------------------------------------------------------------
**/dist/
**/dist-ssr/
**/build/
**/.tscache/

# ----------------------------------------------------------------------
# Environment variables (Crucial for security!)
# ----------------------------------------------------------------------
**/.env
**/.env.*
!**/.env.example

# ----------------------------------------------------------------------
# IDE & OS Files
# ----------------------------------------------------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

notes.text
